<p align="center">Pizzeria now gives you the options to build your own pizza. Customize your ingredients from the list given below.  </p>
<div >
    <table class ="table table-striped table-bordered ">
        <tbody>
            <tr *ngFor="let add of toppings">
                <th><img [src]="add.image" height="70px" width="70px" alt="{{add.tname}}"></th>
                <th> {{add.tname}}   {{add.price | currency:"INR"}}</th>
                <th>
                    <input type="checkbox" name="" id="Add" style="margin-right:10px" [disabled]="isCartEmpty"  (click)="toggleSelection(add)">
                    <label for="Add">Add</label>
                </th>
            </tr>
            <h4  align="center">Total Cost: {{ calculateTotalPrice() | currency:"INR" }}</h4>
            <button type="button" class="btn btn-warning"  routerLink="/shoppingcart" align="center">Build Your Pizza</button>
        </tbody>
    </table>
   
</div>

  
