table {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }
  td {
    text-align: center;
  }
  
  table th {
    text-align: center;
  }
  
  button {
    display: inline-block;
  }
  h4{
    color: darkblue;
  }
  