
  <h3 class="text-center mt-5">Our Story</h3>
  <div class="row">
      <p class="col-12 col-sm">
          We believe in good. We launched Fresh Pan Pizza Best Excuse Awards on our Facebook fan page. Fans were given situations where they had to come up
          with wacky and fun excuses. The person with the best excuse won the Best Excuse Badge and won Pizzeria's vouchers. Their enthusiastic reponse proved
          that Pizzeria's Fresh Pan Pizza is the Tasities Pan Pizza. Ever!
      </p>
  </div>
  <div class="row">
      <p class="col-12 col-sm">
          Ever since we launched the Tastiest Pan Pizza ever, people have not been able to resist the soffest, cheesiest, crunshiest, butteriest Domino's Fresh Pan
          Pizza. They have been leaving in stage in the middle of a performance and even finding excuses to be disqualified in a football match.
      </p>
  </div>
  <div class="row">
      <p class="col-12 col-sm">    
          We launched Fresh Pan Pizza Best Excuse Awards on our Facebook fan page. Fans were given situations where they had to come up
          with wacky and fun excuses. The person with the best excuse won the Best Excuse Badge and won Pizzeria's vouchers. Their enthusiastic reponse proved
          that Pizzeria's Fresh Pan Pizza is the Tasities Pan Pizza. Ever!
      </p>
  </div>        
  <div class="row align-items-center">
      <div class="col-12 col-sm-5">
          <img class="img-fluid" src="https://image.shutterstock.com/image-photo/raw-dough-pizza-ingredients-spices-600w-526830277.jpg">
      </div>
      <div class="col-12 col-sm">
          <h4 class="mb-3">Ingredients</h4>
          <p>We're ruthless about goodness. We have no qualms about tearning up a day-old
              lettuce leaf (straight from farm), or steaming baby(carrot).Cut Cut. Chop. Chop. Steam. Steam. Stir. Stir.
              While they're still young and fresh - that's our motto. It makes the kitchen a better place.
          </p>
      </div>
  </div>
  <div class="row align-items-center">
      <div class="col-12 col-sm-6">
          <h4 class="mb-3">Our Chefs</h4>
          <p>They make sauces sing and salads dance. They create magic with skill,knowledge, passion and stirring spoons (among other things)
              They make goodness so good. It doesn't know what to do with itself. We do though. We send it to you.
          </p>
      </div>
      <div class="col-12 col-sm-5">
          <img class="img-fluid" src="https://image.shutterstock.com/image-photo/happy-chef-600w-437116033.jpg">
   
      </div>
  </div>
  <div class="row align-items-center">
      <div class="col-12 col-sm-5">
          <img class="img-fluid" src="https://image.shutterstock.com/image-vector/timer-icon-45-min-vector-260nw-1438805396.jpg">
      </div>
      <div class="col-12 col-sm">
          <h5>45-Minute Delivery</h5>
      </div>
  </div>
  