.container {
    display: flex;
    justify-content:space-between;
    font-size: 24px;
    margin-bottom: 10px;
    margin: -3px -8px 0 -8px;
    padding: 0 8px 5px 8px;
    border-bottom: 2px solid #818285;
    background-color: black;
    color:grey;
  }
  
  .left {
    display: flex;
    align-items: center;
  }
  
  .left * {
    margin-right: 24px;
  }
  
  .logo {
    height: 70px;
  }
  
  
  .right {
    display: flex;
    align-items: center;
    margin-right: 25px;
  }
  
  .right * {
    margin-left: 25px;
  }
  
  
  
 .btn{
    background-color: yellow;
    padding:10px;
    border-radius: 10px;
    cursor:pointer;
 }
 a{
    cursor:pointer;
 }
 .text1{
    text-align: center;
 }