.card {
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 20px;
  margin-top: 20px;
  border-radius: 5px;
  padding: 10px 10px 10px 10px;
   height: 98%; 
   width: 95%;  
}
.icon
{
  height: 30px;
  width: 30px;
}



.container {
  margin: 0 auto;
  max-width: 1000px;
  padding: 20px;
}

.card-img-top {
  object-fit: cover;
  border-radius: 5px 5px 0 0;
}



